.portfolio {
  background-color: aqua;
}

.portfolio__main__container h1,
.portfolio__main__container p {
  text-align: center;
  margin-top: 3rem;
  font-size: 2.5rem;
}

.portfolio__main__container p {
  font-size: 1.5rem;
}

#portfolio__card__container {
  width: 50%;
  padding: 15px;
  border: none;
}

.portfolio__image:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.portfolio__click__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  display: none;
}

.portfolio__image:hover + .portfolio__click__info {
  display: block;
}

.modal-backdrop.show {
  opacity: 0.1 !important;
}

#portfolio__modal__link {
  padding: 0 0 1rem 1rem;
  font-size: 1.3rem;
}

#portfolio__modal__link:link {
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

#portfolio__modal__link:hover {
  text-decoration: underline;
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  #portfolio__card__container {
    width: 100%;
    padding: 0.5rem 4rem;
    border: none;
  }

  #contained-modal-img-vcenter {
    width: 100% !important;
    height: 100px;
  }

  .portfolio__image{
    width:100%;
    height:100px;
  }


}

#contained-modal-title-vcenter {
  font-family: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

#contained-modal-p-vcenter {
  font-size: 1.2rem;
}

#contained-modal-img-vcenter {
  width: 100% !important;
  height: 450px;
}
